# Default ignored files
/../../Grisha_tester1_bot./.idea/shelf/
/../../Grisha_tester1_bot./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Grisha_tester1_bot./.idea/httpRequests/
# Ignored default folder with query files
/../../Grisha_tester1_bot./.idea/queries/
# Datasource local storage ignored files
/../../Grisha_tester1_bot./.idea/dataSources/
/../../Grisha_tester1_bot./.idea/dataSources.local.xml
